[2018-10-23 17:52] momoangel opened #2 "bulk import and welcomebot"
Is it possible to get Welcome Bot to deliver the message to users who were added to a team via bulk import?

[2019-01-28 09:47] uhlhosting opened #5 "Backend settings"
Any ETA for bot config in MM console?

[2019-01-28 09:50] hanzei commented on #5
Hey @uhlhosting,

Are you referring to bot accounts for Mattermost?

[2019-01-28 10:47] uhlhosting commented on #5
For the welcome bot settings need to be done via config.json and thats quite not so at hand always. Best would be to manage settings in Console backend.

[2019-01-28 11:09] hanzei commented on #5
This needs changes on the Mattermost server. See https://mattermost.atlassian.net/browse/MM-11828 for more context.

[2019-06-02 21:58] jasonblais opened #10 "Migrate Welcome Bot plugin to use bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-03 14:57] #10 closed

[2019-06-05 06:39] JtheBAB opened #15 "Empheral messages?"
Hi

I deployed the welcome bot some months ago to my instance but no one seems to join the channels that the welcome bot is proposing. Either they are not worthy to join or new users don’t see it enough.

I think it would be more visible when the welcome message would be posted to TownSquare as it is in the direct view of the user.

[2019-06-21 10:18] SurferLancelot opened #17 "Failed to create welcomebot user"
Hi Guys

Noticed an issue here where the welcomebot cannot create the welcombot user if the option for accepted domains is set.

{"level":"error","ts":1561111697.1033537,"caller":"mlog/sugar.go:23","msg":"CreateUser: The email you provided does not belong to an accepted domain. Please contact your administrator or sign up with a different email., ","plugin_id":"com.mattermost.welcomebot"}

Welcome

[2019-09-24 08:50] Grummfy opened #21 "translatable welcome message"
hello,
if you are in a multilingual environment, having welcome message translated would be a very nice feature.

thanks.

[2019-09-27 05:08] kumarrahul-rkv opened #22 "Welcome bot message is not triggering on new user"
I have added configuration in `config.json` file as follows:

`
"Plugins": {
            "com.mattermost.welcomebot": {
                "welcomemessages": [
                    {
                        "DelayInSeconds": 2,
                        "Message": [
                            "### Welcome {{.UserDisplayName}} to the {{.Team.DisplayName}} team!",
                            "",

[2019-09-28 11:45] #22 closed

[2019-09-28 11:45] kumarrahul-rkv commented on #22
Resolved

[2019-10-01 13:31] levb commented on #17
Related to https://mattermost.atlassian.net/browse/MM-19042?

[2019-10-01 13:35] cpoile commented on #17
@levb Nope, not related. I can still look at this if you want?

[2019-10-01 16:28] aaronrothschild opened #24 "When a user joins a channel, present them with a Welcome message"
When a user joins a channel, it would be great if the channel admin could set a "Welcome Message" for new members to the channel.

it woud be cool if there was a `/welcome set_channel_welcome "Hi Welcome to this channel, be nice"`

The settings could also live in the channel menu bar when we add that to the plugin API.

[2019-10-01 17:48] levb commented on #17
Probably easiest to make the email address for the bot configurable. cc @aaronrothschild

[2019-10-02 05:18] hanzei commented on #17
@SurferLancelot What server version are you using? I suppose this bug was fixed with https://github.com/mattermost/mattermost-server/pull/12041 in 5.15

[2019-10-02 13:59] aaronrothschild commented on #17
@levb Agreed, the right way is to make the bot email address configurable. But I'm not sure where any user would ever see it.

It also seems like this particular issue was solved as @hanzei mentioned.  I'm not planning to open a ticket to set the email for the bot which no user will ever see.  Let me know if there is a place this would become visible (aside from an admin who can see the user's acc

[2019-10-08 13:21] levb commented on #21
I think the translation PR is still pending in the mattermost-server land, cc @crspeller @hanzei

[2019-10-09 09:39] jozuenoon commented on #24
I'm digging into that :)

[2019-10-15 20:57] hanzei commented on #24
Thanks @jozuenoon :+1:

[2019-11-12 13:18] levb commented on #24
@jozuenoon Are you still interested in finishing this ticket, or should we put it back in the "Up for grabs" bucket?

[2019-11-19 21:09] jozuenoon commented on #24
@levb I will follow up soon if it's not so urgent.

[2019-11-22 19:59] kelsea-sullivan opened #25 "Not executing for existing users"
We launched the welcomebot plugin after we had users on the server. Those users that existed prior to the plugin activation have never saw the welcomebot message (myself included). Is there a way to check if an existing user hasn't received this message, and prompt them as if they were a new user?

[2019-11-22 20:00] kelsiuss opened #26 "Testing new messages"
We would like to see what our welcome message looks like, but have no way to test this before launching it on the server.

[2019-11-26 14:00] levb commented on #25
@aaronrothschild this is along the lines of what we talked about for the plugin-specific welcome message. Maybe the best way forward is to continue improving the WelcomeBot plugin, including the above suggestion of checking who already received such and such message, and (re-)sending as needed.

[2019-11-26 14:01] levb commented on #26
@aaronrothschild Can we do this as a (sysadmin) command that would DM the message to the admin?

[2019-12-10 13:12] levb commented on #24
@jozuenoon Are you still interested in finishing the ticket?

[2020-02-09 14:38] vespian commented on #26
I would like to give it a try.

[2020-02-09 21:44] vespian commented on #26
Please have a look at https://github.com/mattermost/mattermost-plugin-welcomebot/pull/29

[2020-02-09 21:46] vespian commented on #24
I can have a look at it. Once https://github.com/mattermost/mattermost-plugin-welcomebot/pull/29 lands, implementing extra command should not be hard.

[2020-02-11 23:54] levb commented on #24
@vespian go for it

[2020-02-13 20:44] vespian commented on #24
@aaronrothschild I would like to make sure - according to [1] `channel admin` is an enterprise feature so this would limit the users of the `channel welcome` setting of /welcomebot to EE users only. Right?
Do you mind if we allow sysadmins as well?

[1] https://docs.mattermost.com/help/getting-started/managing-members.html#channel-admin

[2020-02-14 13:16] #26 closed

[2020-02-16 16:36] vespian commented on #24
@levb Short update - did not manage to pick it up this weekend, will look into it next week/I still have it on my radar.

[2020-02-25 20:03] vespian commented on #24
Please have a look at https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31

[2020-03-07 16:05] hanzei commented on #21
We could support i18n purely using the config file with something like a mapping of locale and welcome message. The admin would have to make translate the messages him/her self.

[2020-03-07 16:13] hanzei commented on #17
Dosing as this is fixed with https://github.com/mattermost/mattermost-server/pull/12041

[2020-03-07 16:13] #17 closed

[2020-03-16 20:19] vespian opened #32 "Unable to send ephemeral message from inside of the hook"
This is a followup of the discussion in https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31#issuecomment-598902949 and https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31#issuecomment-597223708.

For some reason, from within `UserHasJoinedChannel` hook it is impossible to send an ephemeral message using `p.API.SendEphemeralPost()`. It is unclear/has not been tested if

[2020-03-16 20:23] vespian opened #33 "Make channel welcome messages use ephemeral messages."
This is a followup of the discussion in https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31#issuecomment-599735342

Once https://github.com/mattermost/mattermost-plugin-welcomebot/issues/32 gets addressed, the code for the channel welcome messages should be adjusted to use ephemeral posts instead of the plain ones.

[2020-03-19 20:09] franckadil commented on #5
@hanzei Hi guys, I tried to add the sample message but Mattermost keeps failing. I tried to put the script in settings as explained but it seems that I am just doing it wrong.

Can any of please share their confi.json with me or a full screenshot please ?

Thank you in advance for your help!

Cheers,

[2020-03-20 01:45] franckadil opened #35 "Can't use the configuration snippet, Mattermost exits with an error upon restart."
When I add the configuration sample in my config.json,  I can't restart mattermost. I tried adding in the plugins section, followed the guide but it keeps failing.

- Can anyone guide me through this ?
- Is there any config.json example, not just the snippet ?
- Is it Like YML where the formatting counts ?

Regards,
Franck

[2020-03-20 09:51] hanzei commented on #5
Hey @franckadil,

Did you modify your `config.json` according to https://github.com/mattermost/mattermost-plugin-welcomebot#usage? If not, would you mind opening a new issue, given that your questions is more like a new  support request?

[2020-03-20 12:57] franckadil commented on #5
Hi @hanzei thank you for your prompt reply. I have reached  out yesterday to the community channel in Mattermost, and it appears that the example on the documentation had some errors in it. I implemented the corrections and now it perfectly works! I've seen also that a commit have been done on the Readme.md so that's good  now.

[2020-03-21 21:29] franckadil commented on #35
Resolved with help from the community. There was an error in the example code that have been fixed.

[2020-03-21 21:29] #35 closed

[2020-03-22 14:57] hanzei commented on #32
See https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31#discussion_r396102799 for the reason why is his happening

[2020-03-22 14:58] hanzei commented on #33
Let's resolve the conversation in https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31#discussion_r396102799 first.

[2020-03-26 13:50] umlaeute opened #36 "allow messages for *all* teams"
currently we can specify a welcome-text for each team separately.

however, i would like to be able to send people a welcome-message after their first login - regardless of the team they join.

Probably the simplest solution (from a admin-pov) is to be able to omit the `TeamName` or use a wild-card.

E.g. the following would remind a user of the code-of-conduct the first time they log-in (the `Tea

[2020-03-27 18:30] ewwollesen opened #38 "Mattermost Reorganizes json"
So I will say at first that I admit this is probably not a big deal in the grand scheme of things, and maybe is as much a personal preference issue as anything. The issue is that when you load the config into the Mattermost config.json file, it reorganizes the layout and makes it (in my opinion) more difficult to follow and easier to make a mistake if you need to update it.

What I'm talking about

[2020-04-03 14:40] rovsing opened #39 "Can't seem to get commands to work"
I've tried for quite some time, and since nobody elase seems to be having this problem, I'm writing here.

I've got a Mattmost 5.19.1 installed, with Welcomebot 1.1.1 enabled.

However, I cannot get `/welcomebot help/list/preview` to work. When using it, I get the:

`Command with a trigger of '/welcomebot' not found`

Is there anything setup I've missed?

[2020-04-05 21:04] mueller-thomas-vse commented on #39
Same here
Mattermost-Version: 5.21.0
latest Version of Bot

[2020-04-06 08:15] MarcSN311 commented on #39
same here, also on 5.21.0

[2020-04-07 01:22] levb commented on #38
@ewwollesen is it happening every time, or if you configure the plugin with a / command?

[2020-04-07 01:30] levb commented on #36
I 👍 the suggestion of defaulting to ALL (augmented by team-specific messages). @aaronrothschild are you good with it?

[2020-04-07 01:34] levb commented on #39
I think we made a mistake and merged documentation changes intended for the upcoming 1.2 release into `master`. @jfrerich unless we are 1-2 days away from cutting the release, let's maybe roll-back the doc changes until we have the release ready-to-go?

[2020-04-07 14:19] ewwollesen commented on #38
I happens whenever I start up Mattermost. I do all my configuration in the config.json file, and then when I start up Mattermost is when it rearranges everything.

[2020-04-08 09:40] onno-ole commented on #39
Is there a workaround for the time being @levb ?
Tried using 1.1.0 instead but it still isn't working.

[2020-04-09 19:42] DHaussermann opened #41 "Restrict Channel specific Welcome Bot message config to users who have permission to manage channels"
PR https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31 introduced slash commands to manage channel specific welcome bot messages.
`set_channel_welcome`, `get_channel_welcome` and `delete_channel_welcome`

When an enterprise license is applied not all roles have the ability to manage channels. Therefore  these commands should only be available to Channel Admin roles.

[2020-04-13 20:35] jfrerich commented on #32
This issue will be resolved after merging https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31.

[2020-04-13 20:35] jfrerich commented on #33
Also resolved by merging latest commit in https://github.com/mattermost/mattermost-plugin-welcomebot/pull/31

[2020-04-15 00:55] shred86 opened #42 "Ability to configure outside of the main config.json?"
Looking at trying to use WelcomeBot on a large Mattermost instance where each team needs the ability to configure their own WelcomeBot settings. Configuring 100+ WelcomeBot team messages in the main config.json is not ideal. Is there any plan to allow for separate JSON files to be used for each team that is stored outside of the main config.json? Is it even possible or will it require changes to m

[2020-04-15 12:58] #24 closed

[2020-04-17 08:09] hanzei commented on #32
Fixed with #31

[2020-04-17 08:09] #32 closed

[2020-04-17 08:11] hanzei commented on #33
Fixed with  #31

[2020-04-17 08:11] #33 closed

[2020-04-17 10:41] mhamiltonj opened #43 "Add users to another team when they join any team"
Hi, I can't figure out if I'm not seeing it in the docs, or if this is just not supported, but I would like a way to automatically add users to specific Teams when they join other teams.
Scenario: We have a team per department, another for each working group, and an All Staff team. I would like users to be able to join the team for their working group and be automatically added to the team for the

[2020-04-21 16:24] DHaussermann opened #44 "Team not found response when using /welcomebot preview [team-name] [user-name]"
@jfrerich End to End testing for this has now completed.

When using `/welcomebot preview [team-name] [user-name]`  the help says `preview the welcome message for the given team name. The current user's username will be used to render the template.`

This command does not work when passing in a username. You get an error that the team was not found.
The command will work when passing in only a tea

[2020-04-21 19:32] levb commented on #42
Storing config "elsewhere", e.g. in the KV Store will cause complexities with invalidation. However, much like in https://github.com/mattermost/mattermost-plugin-autolink/issues/73, we should have an Import/Export capability. @shred86 would that address your use-case?

[2020-04-22 05:54] shred86 commented on #42
Thanks for the info. If I’m understanding that import/export capability, it basically lets a user update the main config.json via a shared file? I guess I’m not completely understanding how this would work.

My understanding is the WelcomeBot plugin (like all plugins) are configured inside the main config.json file for the entire Mattermost server. I guess I’m hoping there could be a feature where

[2020-04-23 08:38] hanzei opened #45 "Integrate GolangCI-Lint"
Mattermost is currently in the process of using [`golangci-lint`](https://github.com/golangci/golangci-lint/) as the default linter for all go projects. https://github.com/mattermost/mattermost-plugin-autolink/pull/108 serves as an example of how the migration should look like:
1. Copy `.golangci.yml` from https://github.com/mattermost/mattermost-plugin-autolink/ into this repository.
2. Copy `Mak

[2020-04-23 10:15] maximsnezhkov commented on #25
@levb after restart mattermost server bot stopped to send new messages for recently created users. I define four messages with different delay, but users recivied only two. Is it the same problem as topicstarter described?

[2020-04-27 16:24] loganbest commented on #39
Having this same issue on 5.22 of MM. Is there a separate slash command to use?

[2020-05-11 16:37] DHaussermann commented on #44
@aaronrothschild just a heads up as this came up in our discussion today. We held off the welcome bot release for this issue here.

[2020-05-19 01:39] taylorjason opened #46 "Internal Server Error when using /welcomebot"
We have enabled Welcomebot but whenever we run the `/welcomebot` commands we get an "internal server error" message. The welcomebot does work when a member joins a team but none of the slash commands for welcomebot work.

We are using the HA E20 version of MM.

[2020-05-25 08:53] rovsing commented on #39
Are there any updates on this @levb @jfrerich?

[2020-05-26 11:32] hanzei commented on #46
@taylorjason Does the server logs contain any error message related to welcomebot?

[2020-05-26 14:04] jfrerich commented on #39
Hi All, we have a release coming up soon that will add the functionality that is currently in the help response.

After [this PR](https://github.com/mattermost/mattermost-plugin-welcomebot/pull/47) is merged, we'll complete the [v1.2.0 version bump](https://github.com/mattermost/mattermost-plugin-welcomebot/pull/34) and make the release that includes discussed commands

[2020-05-26 21:31] jfrerich opened #48 "Add CodeCov.io Webhook to repo"
Will need to gain access to the repo.

[2020-05-28 03:48] #44 closed

[2020-05-28 08:22] iomodo opened #50 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-06-01 22:32] terafirmanz commented on #42
Or adding the ability to manage this in the team settings by team admins or via a /command. Having to manage this via the main config file makes things difficult even more so now with per channel support.

[2020-06-02 21:54] jfrerich commented on #48
closing.  This was incorrect.  To add codecov to a repo, https://codecov.io/gh/mattermost/mattermost-plugin-welcomebot/settings and Create New Github Webhook.  This will trigger the codecov webhook generation in github.  The new webhook can be seen immediately in github webhooks.

[2020-06-02 21:54] #48 closed

[2020-06-08 16:50] nathanaelhoun commented on #45
I'll have a try !

[2020-06-08 20:09] rahulchheda commented on #50
Would like to take this up @iomodo, seems like a fairly easy issue, can I get more context for this?

[2020-06-10 10:40] #45 closed

[2020-06-15 11:14] iomodo commented on #50
Hey @rahulchheda sure, the way to implement this one is to go through the `ExecuteCommand` method in the plugin and convert all commands/subcommands to the autocomplete. You can see in the similar PRs how exactly it is done. If you have any question do not hesitate to ping me on community.

[2020-06-19 09:36] acidicX opened #54 "Welcomebot preview not working (team not found)"
Hi there,

not sure this is an issue with Mattermost itself or the welcomebot, but the preview command (`/welcomebot preview ABC`) won't find the team name:

[code]

I triple-checked the team name in the team settings and even set it to something else and back again to make sure it is correct. Still does not work. Any ideas?

Mattermost Version: 5.24.0
Database Schema Version: 5.24.0
Database: pos

[2020-06-19 10:46] hanzei commented on #54
Does `/welcomebot preview abc` result in the same error?

[2020-06-19 10:56] acidicX commented on #54
@hanzei no, this will give: `team abc has not been found`
Is the sql search always lowercase? I'll try to set the team name to lowercase in the config.json and try that.

[2020-06-19 10:59] acidicX commented on #54
Yes that works. I missed that in the docs or it wasn't there when I set it up a few months ago.

[2020-06-19 10:59] #54 closed

[2020-06-24 14:09] MarcSN311 commented on #39
It's working for me now.

[2020-06-26 17:12] amyblais commented on #46
There are errors here that may be helpful: https://forum.mattermost.org/t/i-enabled-welcomebot-but-slash-command-welcomebot-is-not-recognized/10019/2

[2020-07-02 16:48] iomodo commented on #50
Hey @rahulchheda, are you still working on this? Do you have any questions?

[2020-07-03 08:09] rahulchheda commented on #50
Hey @iomodo , will attempt it over this weekend. Sorry for the delay.

[2020-07-14 15:38] jfrerich commented on #39
With version v1.2.0, the commands in this ticket will now work. Please upgrade to `v1.2.0` and let me know if the issue persists!

[2020-07-14 15:39] #39 closed

[2020-07-15 19:31] jfrerich commented on #50
Hi @rahulchheda! Do you have any updates on this issue?  Do you have a PR you could publish as a draft and we could give you some early feedback?

[2020-07-29 19:17] jfrerich opened #55 "Allow mentioning user in the channel welcome messages"
When configuring Team welcome messages, the config allows referencing fields from the `MessageTemplate` struct.  However, setting a welcome message through `/welcomebot set_channel_welcome` only allows text.  This ticket is asking to allow accessing the members of the MessageTemplate struct while creating a channel welcomebot message.

[code]

[2020-08-06 10:59] erezo9 opened #56 "How to add welcome message in k8s environment"
Hi,
How can i add a welcome message in a k8s environment?
I can control the plugin using mattermost cli, but the config.json management is a bit of an issue to edit cause it will not save in the db

[2020-08-25 09:02] umlaeute opened #57 "adding to channels with wildcard"
it would be great if it was possible to extend the `ChannelsAddedTo` syntax to allow wildcards.

as in the following, where the user would get added to `bugs`, `developers`, `devops`, `devsecops`, `devices` and `devilish`

[code]

[2020-09-08 07:37] umlaeute commented on #22
@kumarrahul-rkv how did you resolve this?

(because right now i have a similar problem: welcomebot is installed and configured; `/welcomebot preview mychannel` works; but new users don't see anything)

[2020-09-08 08:53] umlaeute opened #58 "welcomebot not displaying"
i'm running Mattermost-5.26.0, with a single ("Primary") team named `chat`.

I have installed the welcomebot-1.2.0 and configured it to add new users to a couple of channels (and ask them whether they want to be added to even more channels).

When i run `/welcomebot preview chat` the messages are displayed nicely (though the `DelayInSeconds` is ignored; i guess this is itentional).

However, when

[2020-09-08 09:06] umlaeute commented on #58
so my bulk-data looks like this:

[code]

afaict, the problem is, that the user gets automatically added to the team in the import.

However, the welcomebot itself is executed when the user is added by the team: https://github.com/mattermost/mattermost-plugin-welcomebot/blob/c367ba629bab523ffdc5e0d3a3e17207ab80b6c8/server/hooks.go#L12-L14

since the user is not online when they are added (in the b

[2020-10-22 17:26] jrepe commented on #57
Hey, could I have a go at this one?

[2020-10-22 19:13] jrepe commented on #57
hey, mind if I have a go at this one?

[2020-10-24 06:28] bbodenmiller commented on #25
@maximsnezhkov that sounds unrelated.

[2020-10-24 06:30] bbodenmiller commented on #15
@JtheBAB I think you can do this now via `set_channel_welcome` command.

[2020-10-24 06:51] bbodenmiller opened #61 "Channel welcome message is buggy"
If I set a channel welcome message for `Town Square` as well as have an automatic join channel it appears the welcome message does not appear.

Also, if I set welcome messages for channels and then join that channel via the Welcomebot button clicks I see unread message indicator for channel but upon clicking I see no channel welcome message.

[2020-10-24 21:16] jrepe commented on #57
I've a question, I have roughly implemented this using `SearchChannels(teamId, term string) ([]*model.Channel, *model.AppError)`, however it would appear I'm not able to get private channels through this approach.

[2020-11-11 14:44] nathanaelhoun commented on #61
I just discovered the same issue today. It's really inconvenient, I thought that all the new users were seeing the message for weeks.

[2020-11-11 18:17] jwillmer opened #62 "Execute slash commands"
I would like to execute slash commands when a new user joins. An example would be to add the new user to the standup bot by issuing `/standup addmember [NAME]` in the #standup channel.

[2020-11-17 15:15] levb commented on #62
Logged https://mattermost.atlassian.net/browse/MM-30620 to provide the support for this in Mattermost Apps. We'd need to be careful here, even though it's a sysadmin-controlled feature, maybe whitelist specific commands available?

[2020-12-07 15:55] jfrerich opened #63 "Allow restricting welcomebot invitations to non-guest accounts"
Hey team, is this a known behaviour: on a customer instance it seems the welcomebot is inviting guest accounts to channels and the guests can just join without be added manually?

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/qhxbdgnqg3ykfdyoamkk6wgsqe) *by @flexo3001*._

[2020-12-14 15:31] ahmaddanialmohd opened #64 "Configuring Welcome Bot on Mattermost Cloud"
Hi, team.

While the Welcome Bot is configurable on `config.json` for the self hosted Mattermost Server, how do we go about configuring this on the Mattermost Cloud solution?

![image](https://user-images.githubusercontent.com/49461314/102100446-65c51a80-3e64-11eb-93e2-f295591a7f46.png)

Any plans on supporting the configuration on the UI level in the future to cater for the Mattermost Cloud syste

[2020-12-15 22:23] hanzei commented on #64
Hi @ahmaddanialmohd,

Welcome bot doesn't properly work on Cloud. It should also not show up in the Marketplace for Cloud instances, but due to a bug it does.

I don't know of any plans of making this plugin work on Cloud. cc @aaronrothschild

[2020-12-21 13:39] Daksol opened #65 "Allow same welcomebot message for a number of MM Teams on same server without repeating message text"
Would it be possible to have the same WelcomeBot message sent to a list of MM Teams. As is now it appears we would need to repeat the WelomeBot message once for each Team.

So the line in the JSON file
`"TeamName": "myteamname",`

Could have a list of MM Teams, rather than a single Team name....
`"TeamName": "myteamname, anotherteam1, yetanotherteam2, athirdteam",`

thanks

[2021-02-02 09:21] SvenSchoe commented on #43
I would also be very interested in being able to do this. Since it is still labeled as open I assume it's currently not possible?

[2021-02-05 13:48] Mmoushon commented on #61
So when a user is added to a team they are automatically added to the town square so if you set the team welcome message that in practice become the town square welcome message. Considering that users can't leave the default town-square I am interested in the use case for adding the welcome message to the town square.

[2021-02-06 07:30] bbodenmiller commented on #61
@Mmoushon two things:
* channel welcome messages are easier to set (no server level json changes required)
* if I recall correctly, channel welcome messages show up inline whereas team welcome message appears in DM

More problematic than above is that channels auto-joined via team welcome action never show their configured welcome message

[2021-02-26 14:54] Apfelwurm commented on #43
+1

[2021-03-05 22:48] Apfelwurm commented on #43
Till there is a nice solution possible with this plugin, i quickly built a container for adding all available users to all teams and channels which is done periodically by mmctl. If someone wants to use it: https://gitlab.com/Apfelwurm/mattermost-autojoiner

But i'm looking forward to see an Enhancment here :)

[2021-05-26 06:29] alexanderlhk opened #71 ""preview" command not working"
Hi all,

I can't seem to set up the welcome message while testing it with `/welcomebot preview [team-name]` command in my Mattermost.

I've also tried to update my welcomebot to the latest release as of today, but to no avail.

I've used the command:
`/welcomebot preview cudy` - cudy is my team's name (https://collaborate.cudy.co/v1uY1Pqo)

But i'm always getting an error: `team cudy has not been

[2021-05-27 12:09] #64 closed

[2021-05-27 12:10] hanzei commented on #42
The Apps framework should be used to add a modal that allows the configuration.

[2021-05-27 12:11] hanzei commented on #36
`""` should mean ALL

[2021-05-27 13:10] umlaeute commented on #36
The good thing about `"*"` is, that it is consistent with other wildcard-uses.

i'm afraid that with a suggestion of `""`, the first one to pick up the implementation would implement *exactly that*, and nothing else. and the issue will be closed and not looked at again.

whereas if `"*"` gets implemented, you have a *much more powerful* tool at hand with little additional coding effort.

[2021-05-28 05:24] hanzei commented on #36
Good point on the regex support. Sound good to me :+1:

[2021-05-28 06:08] umlaeute commented on #36
i was actually more thinking of globbing, but regex is fine for me as well :-)

[2021-05-28 18:40] DHaussermann opened #72 "Welcome bot will not let me add a message to private channels"
Seems like the feature of adding a channel level welcome message should work for both public and private channels.
When I try using this feature I see a message saying this is not supported for DM channels. However the channel is not a DM.
![image](https://user-images.githubusercontent.com/35588783/120028233-6a206280-bfc2-11eb-985c-64b9139e26e5.png)

Steps:
- Create or open any private channel
- T

[2021-05-29 12:16] hanzei commented on #72
It works exactly like the code dictates it: https://github.com/mattermost/mattermost-plugin-welcomebot/blob/29c0079329652a42c852ade6aa9309359777f22b/server/command.go#L133-L136

[2021-05-29 12:17] #50 closed

[2021-05-30 11:48] haardikdharma10 commented on #65
This looks like a duplicate of #36

[2021-06-17 00:05] jasonsmithtesla commented on #72
I was surprised to run into this (why shouldn't it work in a private channel?) and confused by the misleading error message.

[2021-06-17 07:41] hanzei commented on #72
Yes, the code is wrong. Only direct channels should be prohibited, not private ones.

[2021-06-30 13:22] hanzei commented on #5
Duplicates  https://github.com/mattermost/mattermost-plugin-welcomebot/issues/42

[2021-06-30 13:23] hanzei commented on #5
Duplicate of #42

[2021-06-30 13:23] #5 closed

[2021-07-27 10:40] maisnamrajusingh commented on #63
@jfrerich is this something I can help with ?

[2021-08-12 05:30] maisnamrajusingh commented on #63
@jfrerich I tried to replicate the issue but couldn't replicate it. Would it be possible to get access to the `config.json` settings the user used for the welcomebot settings ?

[2021-08-12 19:32] jfrerich commented on #63
*@jfrerich attached a* [message](https://community.mattermost.com/_redirect/pl/t3uboyzqhpfmzcwbxshhufgj8r) *from @aaronrothschild*

Hmmm...that's an interesting situation.  @dylan.haussermann do we test for this at all?

This seems like a good new issue: restrict welcomebot messages to "full" users and ignore "guest" users (add an option in config to observe this behavior optionally)

[2021-08-12 19:33] jfrerich commented on #63
*@jfrerich attached a* [message](https://community.mattermost.com/_redirect/pl/7956faxbd7n3pb5pnmtah53x5y) *from @aaronrothschild*

@jason.frerich or @shota.gvinepadze I suspect the plugin bot has permissions to add the user to any channel (and does so) - without taking into account they are a guest account.

[2021-08-12 19:34] jfrerich commented on #63
*@jfrerich attached a* [message](https://community.mattermost.com/_redirect/pl/7ucz1uc1cbnudrkd6ymg4uthbe) *from @aaronrothschild*

I agree there should be a configuration to disable/enable ignoring a guest user.  For now, let's address the main issue of in a private MM instance, guests should not be invited to welcomebot rules.  If it's an open instance, then users can receive welcomebot messages

[2021-08-12 19:38] jfrerich commented on #63
@maisnamraju, are you having issues replicating the case where a guest account is getting invited via the welcomebot rules? I believe the ask for this particular ticket is to add the restriction that guest user accounts to not get invited.  @aaronrothschild, is that correct?

[2021-08-13 02:51] maisnamraju commented on #63
Yes, I wanted to replicate this bug. Can you lay out the steps I can use to replicate this issue ?

[2021-08-19 08:34] #71 closed

[2021-09-08 11:45] mhamiltonj opened #83 "Ignore Bot Accounts"
I might have missed something in the docs, but is there a way to configure Welcomebot to carry out automatic actions only for new non-bot users. Currently when we add a bot to the team, so that it can be added to a specific private channel to post log messages for example, it gets added to several other channels by the welcome bot.

[2021-10-25 13:41] sibasankarnayak opened #85 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The .circleci/config.yml file needs to be updated to run the webapp tests in CI.

[2021-10-29 14:38] #85 closed, assigned to sibasankarnayak

[2021-11-04 16:15] nicolas-goudry opened #87 "Action integration error"
I’m using Mattermost in a K8S environment, using the [operator](https://github.com/mattermost/mattermost-operator).

I tried to setup the Welcome Bot, but had to do so directly through the database. Even if it’s not ideal, it seems to be working because I can see my message when I type `/welcomebot list` or `/welcomebot preview myteam`.

However, when I click on an action button, there is the foll

[2021-11-04 16:21] nicolas-goudry commented on #56
@erezo9 I’m using the [operator](https://github.com/mattermost/mattermost-operator) and had to setup the welcome bot directly in database.

First, get the current configuration from database (you’ll need mysql client and [jq](https://stedolan.github.io/jq/)):
[code]

Edit the configuration file to setup the welcome bot as you wish, then save back the JSON as a one-liner to be saved in db:
[code]

[2021-11-22 18:53] dipak-demansol opened #88 "getting the error while running the *make* Command for welcome-bot"
for the mattermost version 5.37 & 6.0, when i Run **make** Command then i'm getting below error

[code]

My go version is *go version go1.17.2 linux/amd64*
NPM version **7.7.6**
node version **v15.14.0**

![Screenshot from 2021-11-23 00-10-34](https://user-images.githubusercontent.com/89907719/142918138-aba852db-9213-4ffe-9c58-274e585b666c.png)

[2021-11-22 19:56] hanzei commented on #88
@dipak-demansol What version of `golangci-lint` are you using?

[2021-11-22 20:06] hanzei commented on #88
@dipak-demansol Could you please test with `golangci-lint` `1.31.0`?

[2021-11-23 10:23] dipak-demansol commented on #88
go1.17.2

[2021-11-23 10:24] hanzei commented on #88
My question was about `golangci-lint` not `go`.

[2021-11-23 10:34] dipak-demansol commented on #88
can you pls share me command with that i can find that version? because i search it but did't got any comamnd.

[2021-11-23 11:06] dipak-demansol commented on #88
@hanzei in the plugin.json file thaere is a version = version": "1.2.0" is this a golangci-lint ver?

[2021-11-23 11:07] dipak-demansol commented on #88
@hanzei this is the version golangci-lint has version 1.43.0 built from 861262b7 on 2021-11-03T11:57:46Z

[2021-11-23 11:50] hanzei commented on #88
@dipak-demansol Could you please downgrade to `1.31.0` and test again?

[2021-11-23 11:52] dipak-demansol commented on #88
yes, i installed the 1.31.0 version but it still detecting the 1.43.0 so i'm finding the way to remove the 1.43 and install 1.31.0

[2021-11-24 06:01] dipak-demansol commented on #88
@hanzei Using The golangci-lint 1.31.0 its working.

![Screenshot from 2021-11-24 11-29-07](https://user-images.githubusercontent.com/89907719/143183352-554284e7-3aab-4ebb-8996-0b84c3e66c08.png)

[2021-11-24 12:42] hanzei commented on #88
@dipak-demansol Glad we got that sorted out :+1:

[2021-11-24 12:42] #88 closed

[2021-11-25 02:01] #46 closed

[2021-11-30 11:49] aaronrothschild commented on #87
@nicolas-goudry do you have any server logs you can share with us regarding this?  cc @hanzei

[2021-12-04 22:37] nicolas-goudry commented on #87
@aaronrothschild Unfortunately, this error occurred on a test instance that I since trashed…

As far as I can remember, I think that this was linked to the fact that the plugin can’t open DM when the following option is set in Mattermost System Console: `Site Configuration` > `Users and Teams` > `Enable users to open Direct Message channels with` > `Any member of the team`.

I might not be of any

[2022-01-06 20:55] boredomdenied opened #89 "Action button faulty"
I have latest `mattermost` installed with fresh install of `welcomebot`. This is `mattermost-docker` latest stable `docker`, `docker-compose` running `ubuntu 20.04LTS`

I have enabled the plugin. Adapted the config.json as follows:

[code]

I see welcomebot for new user initial login. My custom text is visible. The button does not result in the result message or channel joins.

Here is the output

[2022-01-06 21:12] boredomdenied commented on #89
I found this issue that seems related. Link to a potential solution though it's two years old and a fix was said to be already in:

https://github.com/matterpoll/matterpoll/issues/174#issuecomment-534236534

MatterMost Fix:

https://github.com/mattermost/mattermost-server/pull/12156

Can someone please inform me which is the best route to take to resolve issue. Thank you

[2022-01-06 21:28] boredomdenied commented on #89
https://github.com/mattermost/mattermost-server/pull/12156/files It looks like this should be hitting the local network yet doesn't for some reason?

[2022-01-06 21:49] boredomdenied commented on #89
As per:

https://github.com/moussetc/mattermost-plugin-giphy/issues/21#issuecomment-604713546

I tried shifting this attribute in the `config.json` file

From:
`"AllowedUntrustedInternalConnections": "",`

To:

`"AllowedUntrustedInternalConnections": "127.0.1.1, [redacted], localhost, 127.0.0.1",`

Same result

[2022-01-06 23:04] boredomdenied commented on #87
I've tried toggling that and a bit other things without success. I opened #19 If either of you has a clue how to help it would be greatly appreciated for you to give your thoughts on it. Thank you.

[2022-03-14 11:01] unode commented on #25
We could use this feature as well. There's currently no way to know who was welcomed nor force displaying the welcome message to specific users.

Perhaps these two use-cases could be covered with `/welcomebot` commands/actions?

[2022-04-14 07:17] #63 closed

[2022-07-22 09:10] unode commented on #25
Possibly related, can a user request the team message to be shown by welcomebot?

We could ask existing users to execute a `/welcomebot` command that will prompt the bot to (re-)display the welcome message. This could be useful in cases where the welcome message has changed.

Our use-case: Since welcomebot was deployed, several channels have been created and added to the welcome message. New users

[2022-07-27 06:06] gohrner opened #93 "Restricted Direct Message Setting in Server Breaks WelcomeBot"
Environment (probably not relevant): Mattermost Team Server ESR 6.3.9, Welcomebot 1.2.0.

There are multiple Teams on the server.

Welcomebot was configured and running and I remember it already worked in the past. It also reacted and reacts to `/welcomebot` commands.

However, it did NOT (any more) send any welcome message to new users, did NOT add the new users to channels, and did NOT send conf

[2022-08-17 09:58] schlueter-de opened #95 "Welcome channel message visibil for all channel members?"
Hi,

the welcome channel message is atm "(Only visible to you)".

I want to make an automated channel welcome message for new userser that is visibil for all channel Members. If its like a channelmessage all useres could replay to the message an welcome the new member in our team.

Is this possible?

Regards

[2022-08-17 10:01] schlueter-de opened #96 "Can't use {{.UserDisplayName}} in channel welcome message"
Hi,

i can't use {{.UserDisplayName}} in the welcome message. Is it even possible? I tried:

`/welcomebot set_channel_welcome :wave_light_skin_tone: Herzlich Willkommen {{.UserDisplayName}} bei uns im Büro. Schön das du dich uns angeschlossen hast.  :hugging_face:`

Thanks for help.

Regards

[2022-08-17 12:03] jprusch commented on #96
Hm,

we're using:
[code]
And this is working. Extract from config.json.

[2022-08-17 13:22] schlueter-de commented on #96
Hi @jprusch
i bet that is the welcom message for new users in the team right?

I mean the `/welcomebot set_channel_welcome [welcome-message]`. That not the Welcomebot direct message. It a Channelmessage for a specific channel. Its working but i want to mention the User in the message. But maybe this is not in the featurelist and {{.UserDisplayName}} is just working in the welcomebot config.json.